{% extends 'base.html' %}
{% load static %}

{% block title  %} Delete the Story?? {% endblock title  %} 

{% block body %} 
	{% if request.user.is_authenticated %}
	
	<form action="" method="post" class="text-lignt"> {% csrf_token %}
	
	<p class="text-light font-weight-bold"> Do you want to delete <strong>{{ story.name }}</strong> ?</p>
	<input class="btn btn-danger col-ml-2" type="submit" value="Confirm"/>
	</form>
	<a class="btn btn-warning text-dark font-weight-bold col-ml-5 mt-5" href="{% url 'editstory' story.id %}">Edit insted?</a>
	

	{% else %}
  		<div class="alert alert-danger" role="alert">
  				You are not Logged In !!
  				<a href="{% url 'login' %}" >Log In</a>
		</div>
		<div class="alert alert-warning" role="alert">
  				Not an existing user ?<a href="{% url 'signup' %}" >Sign Up !</a>
		</div>
  		 

	{% endif %}
	





{% endblock body %}