{% extends 'base.html' %}

{% block title %} Stories {% endblock title %}

{% block body %}

	<h1>Welcome </h1>
    <ul class="list-inline" > 

	
          {% for element in storylist reversed %}
            <a class = "card-link text-danger text-danger " href="{% url 'story' element.id %}">
                <div class="card " style="box-sizing:400px" >
                <div class="card-body">
                  <li class="list-inline-item"> 
                    <h4 > {{ element.name }} ( {{ element.release_year }} ) </h4>
                    <h6 class="text-muted" > Added {{ element.created_at|timesince }} Ago</h6>
                    <h5> Authot: {{ element.author }}</h5>
                  </li>
                </div>
                </div> 
            </a>
  
            {% endfor %}
  	</ul>
  	<a class="btn" href="{% url 'orders' %}"> Buy Membership</a>
 {% endblock body %}