{% extends 'base.html' %}

{% block title %} Stories {% endblock title %}

{% block body %}

	<h1>Welcome </h1>
    

	 <div class="d-flex flex-fill">
          {% for element in storylist reversed %}
            

            <a class = "card-link text-dark text-danger " href="{% url 'story' element.id %}">
               <div class="col card p-2" style="width:300px;" >
                <div class="card-body ">
                 
                    <h4 > {{ element.name }} ( {{ element.release_year }} ) </h4>
                    <h6 class="text-muted" > Added {{ element.created_at|timesince }} Ago</h6>
                    <h5> Author: {{ element.author }}</h5>
                    <p class="text-muted">Story: {{ element.story|slice:":5" }}...Click to read more</p>
                  
                </div>
                </div>
               

            </a>

            {% endfor %}
  
            </div>
	
            {% if user.user_type == "WR" %}

            	<a href="{% url 'addstory' %}" class="btn btn-white" > Add a story</a>
            {% endif %}

<div class="card col mt-5" >
 	<div class="card-body" >
 		<h2> Dont have a membership? Buy with the link below !</h2>
 		<p>
  	<form method="post" action="{% url 'done' %}" >
{% csrf_token %}



<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="{{ stripe_key }}"
    data-description="All Books"
    data-amount="1000"
    data-locale="auto">
</script>	
	
</form>
</p>
</div>
</div>



 {% endblock body %}