{% extends 'base.html' %}

{% block title %} Search {% endblock title %}


{% block body %}<ul class="list-inline" > 
	

          {% for element in searchstorylist reversed %}
            <a class = "card-link text-danger text-danger " href="{% url 'review' element.id %}">
                <div class="card" style="box-sizing:200px" >
                <div class="card-body">
                  <li class="list-inline-item"> 
                    <h4 >  {{ element.name }} ( {{ element.release_year }} ) </h4>
                    <h6 class="text-muted" > Added {{ element.created_at|timesince }} Ago</h6>
                   
                  </li>
                </div>
                </div> 
            </a>
  
            {% endfor %}
  	</ul>

  {% endblock body %}